<div class="d-flex flex-column align-items-center py-4">
  <h2>Registrera dig</h2>

  <form class="py-5 col-12 col-md-7 col-lg-5" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="mb-3">
      <label class="form-label" for="username">Användarnamn</label>
      <input class="form-control" id="username" name="username" [(ngModel)]="username" required />
    </div>

    <div class="mb-3">
      <label class="form-label" for="password">Lösenord</label>
      <input class="form-control" id="password" name="password" type="password" [(ngModel)]="password" required />
    </div>

    <div class="mb-3">
      <label class="form-label" for="confirmPassword">Bekräfta lösenord</label>
      <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="confirmPassword" required />
      <div *ngIf="passwordMismatch" class="text-danger mt-1">Lösenorden matchar inte</div>
    </div>

    <div *ngIf="error" class="text-danger mb-3">{{ error }}</div>

    <button class="btn btn-primary w-100 fs-5 fw-bold" type="submit" [disabled]="registerForm.invalid || passwordMismatch">Registrera</button>
  </form>

  <p>Har du redan ett konto? <a routerLink="/login">Logga in här</a></p>
</div>
